<!DOCTYPE html>
<html>

<head>
	<title>Likert</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="node_modules/vue-material/dist/vue-material.css">
	<link rel="stylesheet" href="node_modules/vue-material/dist/theme/black-green-light.css">

</head>

<body>

	<div id='app'>


		<script type='text/javascript' src='/eel.js'></script>
		<script type='text/javascript'>
			
		</script>
<md-tabs class="md-primary" md-alignment="fixed" @md-changed="load('objective','criterion')">
				<md-tab id="info" md-label="Info">




				</md-tab>

				<md-tab id="main" md-label="Main">

					<div>
						{{ selected }}
						<md-field>
							<label>Users interviewed (amount)</label>
							<md-input v-model="users" type="number"></md-input>
						</md-field>

						<md-button style="margin-left:45% " class="md-raised md-accent" @click="send(2,serv_existentes)">Check & Run</md-button>
						<br>
						<br>

					<md-table @md-selected="onSelect" v-model="table_obj"  md-card md-fixed-header>
						<md-table-toolbar>
							<h1 class="md-title">Objectives</h1>
							<span>
							<md-button class="md-raised md-accent" @click="delitems(selected,last_id)">Delete</md-button>
							<md-button class="md-raised md-primary" @click="save_to_file('objective',table_obj,last_id)">Save</md-button>
							<md-button class="md-raised md-primary" @click="select='Objective'">New</md-button>
						</span>
						</md-table-toolbar>

						<md-table-row md-selectable="multiple" md-auto-select slot="md-table-row" slot-scope="{ item }">
							<md-table-cell md-label="Category">{{ item.category }}</md-table-cell>
							<md-table-cell md-label="Objective">{{ item.name }}</md-table-cell>
							<md-table-cell md-label="1" md-numeric>{{ item.crit1 }}</md-table-cell>
							<md-table-cell md-label="2" md-numeric>{{ item.crit2 }}</md-table-cell>
							<md-table-cell md-label="3" md-numeric>{{ item.crit3 }}</md-table-cell>
							<md-table-cell md-label="4" md-numeric>{{ item.crit4 }}</md-table-cell>
							<md-table-cell md-label="5" md-numeric>{{ item.crit5 }}</md-table-cell>
													
						</md-table-row>
					</md-table>
						<h3>Judgement:
							<span><br>1: No Significance </span>
							<span><br>2: Low Significance </span>
							<span><br>3: Mild Significance </span>
							<span><br>4: High Significance </span>
							<span><br>5: Very High Significance </span>

						</h3>
					</div>



					<div>
					<md-table @md-selected="onSelect" v-model="table_crit"  md-card md-fixed-header>
						<md-table-toolbar>
							<h1 class="md-title">Criterion</h1>
							<span>
							<md-button  class="md-raised md-accent" @click="delitems(selected,last_id)">Delete</md-button>
							<md-button class="md-raised md-primary" @click="save_to_file('criterion',table_crit,last_id)">Save</md-button>
							<md-button class="md-raised md-primary" @click="select='Criterion'">New</md-button>
							</span>
						</md-table-toolbar>

						<md-table-row md-selectable="multiple" md-auto-select slot="md-table-row" slot-scope="{ item }">
							<md-table-cell md-label="Criterion">{{ item.name }}</md-table-cell>
							<md-table-cell md-label="1" md-numeric>{{ item.crit1 }}</md-table-cell>
							<md-table-cell md-label="2" md-numeric>{{ item.crit2 }}</md-table-cell>
							<md-table-cell md-label="3" md-numeric>{{ item.crit3 }}</md-table-cell>
							<md-table-cell md-label="4" md-numeric>{{ item.crit4 }}</md-table-cell>
							<md-table-cell md-label="5" md-numeric>{{ item.crit5 }}</md-table-cell>
													
						</md-table-row>
					</md-table>
						<h3>Judgement:
							<span><br>1: No Significance </span>
							<span><br>2: Low Significance </span>
							<span><br>3: Mild Significance </span>
							<span><br>4: High Significance </span>
							<span><br>5: Very High Significance </span>

						</h3>
						<br>
						<br>
							
					</div>


				</md-tab>
				<md-tab id="results" md-label="Results">
				<div>
					<md-table @md-selected="onSelect" v-model="likert_table_obj" md-sort="significance" md-card md-fixed-header>
						<md-table-toolbar>
							<h1 class="md-title">Likert's Results: Objectives</h1>
							
						</md-table-toolbar>

						<md-table-row md-selectable="multiple" md-auto-select slot="md-table-row" slot-scope="{ item }">
							<md-table-cell md-label="Significance" md-sort-by="significance">{{ item.significance }}</md-table-cell>
							<md-table-cell md-label="Objective">{{ item.name }}</md-table-cell>
							<md-table-cell md-label="Category">{{ item.category }}</md-table-cell>
													
						</md-table-row>
					</md-table>
				</div>
				<br>
				<div>
					<md-table @md-selected="onSelect" v-model="likert_table_crit" md-sort="significance" md-card md-fixed-header>
						<md-table-toolbar>
							<h1 class="md-title">Likert's Results: Criterion</h1>
							
						</md-table-toolbar>

						<md-table-row md-selectable="multiple" md-auto-select slot="md-table-row" slot-scope="{ item }">
							<md-table-cell md-label="Significance" md-sort-by="significance">{{ item.significance }}</md-table-cell>
							<md-table-cell md-label="Objective">{{ item.name }}</md-table-cell>
													
						</md-table-row>
					</md-table>
				</div>	
				</md-tab>
				<md-tab id="summary" md-label="Summary">




				</md-tab>
			
			</md-tabs>
				

		<md-dialog :md-active.sync="select" :md-click-outside-to-close="false" style="width: 30%">
			<md-dialog-content>
			<md-tabs md-dynamic-height class="md-primary" md-alignment="fixed">
				<md-tab md-label="Create">
					<h2 style="text-align: center;">Create new {{ select }}</h2>

					<md-field>
						<label v-if="select == 'Objective'">Objective</label>
						<label v-if="select == 'Criterion'">Criterion</label>
						<md-textarea v-model="name" md-autogrow></md-textarea>
					</md-field>

					<md-field v-if="select == 'Objective'">
						<label>Category</label>
						<md-input v-model="category" ></md-input>
					</md-field>
					
					<md-field>
						<label>No Significance (number of users)</label>
						<md-input v-model="crit1" type="number"></md-input>
					</md-field>
					
					<md-field>
						<label>Low Significance (number of users)</label>
						<md-input v-model="crit2" type="number"></md-input>
					</md-field>
			
					<md-field>
						<label>Mild Significance (number of users)</label>
						<md-input v-model="crit3" type="number"></md-input>
					</md-field>
			
					<md-field>
						<label>High Significance (number of users)</label>
						<md-input v-model="crit4" type="number"></md-input>
					</md-field>
			
					<md-field>
						<label>Very High Significance (number of users)</label>
						<md-input v-model="crit5" type="number"></md-input>
					</md-field>

					<br><br>
					<span>
					 <md-button class="md-raised md-primary" @click="save(select,{'name':name,'category':category,'crit1':crit1,'crit2':crit2,'crit3':crit3,'crit4':crit4},last_id)">New</md-button>
					  <md-button class="md-raised md-accent" @click="select=false,name='',category='',crit1='',crit2='',crit3='',crit4='',crit5=''">Close</md-button>
					</span>
					</md-tab>
			</md-tabs>
			</md-dialog-content>
		</md-dialog>


		<script src="node_modules/vue/dist/vue.min.js"></script>
		<script src="node_modules/vue-material/dist/vue-material.min.js"></script>

		<script src="node_modules/app.js"></script>
		
	</div>
</body>

</html>